body{
}
#pc-only{
    display: none;
}
.container{
    width: 100%;
    margin: 0 auto;
}
#main-header{
    width: 100%;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#main-header>h1{
    justify-content: center;
}
#main-header>h1>a> img{
    width: 100px;
}
#gnb{
    background-color: #ddd;
    position: absolute;
    width:100%;
    top: 70px;
    padding: 20px 15px;
    display: none;
}
#gnb.on{
display: block;
z-index: 100;
}
#gnb>ul>li:not(:last-child){
margin-bottom: 1.5em;
}
#gnb>ul>li>a{
    color: #333;
    font-size: 18px;
}
.rigth-menu{
    display: flex;
}
#gnb-toggle-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    border-style: none;
    background-color: transparent;
}
#gnb-toggle-btn:hover{
    cursor: pointer;
}
.swiper {
    width: 100%;
    height: calc(100vh - 70px);
    background: #ccc;
  }
.swiper .swiper-slide.s1{
    background-image: url(../images/bg.jpg);
    background-size: cover;
}
.swiper .swiper-slide.s2{
    background-image: url(../images/main--visual2.jpg);
    background-size: cover;
}
.swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-50px);
}
.title h2{ 
    font-size: 36px;
    font-weight: 500;
}
.title h2 span{
    font-size: 24px;
    font-weight: 400;
}
.swiper-button-prev,
.swiper-button-next{
    color: #fff;
    display: none;
}
.swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    border: 1.5px solid rgba(255, 255, 255, 0.905);
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #fff;
    opacity: 1;
}
.swiper-pagination{
    bottom: 50px !important;
}
main{
    width: 100%;
    margin: 0 auto;
}
main section.container {
    /* display: flex; */
}
main section > img{
    width: 100%;
    height: 300px;
}
main section.container .text-box{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* main section.container .text-box-inner {
    text-align: center;
    justify-items: center;
} */
.detail-btn{
    display: block;
    margin-top: 40px;
    width: 220px;
    height: 48px;
    border: 1px solid #333;
    border-right: none;
    border-left: none;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    color: #333;
}
main section.container:nth-child(2n){
    flex-direction: row-reverse;
}
#about h2{
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0;
}

#about{
    height: 432px;
    background-image: url(../images/about-img.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
#about .container >a{
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
#about .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#about .container p{
    margin-top: 40px;
    width: 321px;
}
#about .container .detail-btn{
    margin-top: 50px;
}
#main-footer{
    width: 100%;
    height: 381px;
    font-size: 16px;
    margin: 0 auto;
}
#main-footer .menu-box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#main-footer .menu-box .footer-menu{
    display: none;

}
#main-footer .menu-box .sns-group{
    display: flex;
}
#main-footer .menu-box .sns-group img{
    margin-left: 15px;
    margin-right: 15px;
}
#main-footer .footer-info{
    margin-top: 48px;
    margin-left: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#main-footer .footer-info > img{
    width: 107px;
    height: 36px;
    margin-bottom: 35px;
}
#main-footer .footer-info-text span{
    display: none;
}
#main-footer .footer-info-text p{
    margin-bottom: 10px;
    line-height: 50px;
    width: 352px;
    text-align: center;
}
#main-footer .footer-info-text .copy{
    margin-bottom: 27px;
}
#main-footer .footer-info .top-btn{
    border: 1px solid #333;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}