body{
    font-size: 18px;
}
/*모바일전용 콘텐츠 비표시*/
.mobile-only{
    display: none;
}
.container{
    width: 1440px;
    margin: 0 auto;
    outline: 1px solid #ccc;
}
#main-header{
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 99;
    width: 100%;
    min-width: 1120px;
}
#main-header>h1{
    margin-left: 20px;
}
#gnb> ul{
    display: flex;
}
#gnb>ul>li{
    margin-left: 35px;
    margin-right: 35px;
}
#gnb>ul>li>a{
    color: #333;
}
#gnb>ul>li>a:hover{
    color: var(--main-color);
}
.rigth-menu{
    display: flex;
}
#family-link{
    padding-right: 15px;
    margin-right: 40px;
    border-style: none;
}
#family-link:hover,
#site-map-btn:hover{
    cursor: pointer;
}
#site-map-btn{
    margin-right: 20px;
    border-style: none;
    background-color: transparent;
}
.sitemap-modal {
    position: fixed;
    background: #000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: none;
}
.sitemap-modal.on{
    display: flex;
}
.sitemap-modal >ul{
    display: flex;
}
.sitemap-modal>ul>li>a{
    font-size: 36px;
    color: #fff;
}
.sitemap-modal>ul>li{
    margin-left: 35px;
    margin-right: 35px;
}
.sitemap-modal>ul>li>ul{
    margin-top: 60px;
    text-align: center; 
    font-size: 20px;
}
.sitemap-modal>ul>li>ul a:hover{
    color: var(--main-color);
}
.sitemap-modal > ul > li > ul > li{
    margin-bottom: 1.5em;
}
.sitemap-modal > ul > li > ul a{
    color: rgba(255, 255, 255, 0.905);
}
#sitemap-modal-close{
    background: transparent;
    border-style: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
#sitemap-modal-close:hover{
    cursor: pointer;
}
.swiper {
    width: 100%;
    height: calc(100vh - 70px);
    background: #ccc;
  }
.swiper .swiper-slide.s1{
    background-image: url(../images/bg.jpg);
    background-size: cover;
}
.swiper .swiper-slide.s2{
    background-image: url(../images/main--visual2.jpg);
    background-size: cover;
}
.swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.title h2{ 
    font-size: 64px;
    font-weight: 500;
}
.title h2 span{
    font-size: 36px;
    font-weight: 400;
}
.swiper-button-prev,
.swiper-button-next{
    color: #fff;
}
.swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    border: 1.5px solid rgba(255, 255, 255, 0.905);
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #fff;
    opacity: 1;
}
.swiper-pagination{
    bottom: 50px !important;
}